

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&family=Pixelify+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Pixelify Sans',sans-serif ;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dec0f1;
}

.wrapper{
    position: relative;
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper img{
    padding: 10px;
    width: 35%;
    border-radius: 50%;
}

h2{
   font-size: 45px;
   color: #461e5c;
   margin: 15px 0; 
}

.btn-group{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button{
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
    border:3px solid #461e5c;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px;
}

button:nth-child(1){
    font-size: 30px;
    margin-left: -200px;
    background-color: #ef7a85;
}

button:nth-child(2){
    font-size: 30px;
    margin-right: -200px;
    background-color: #ffc2e2;
}